# Google Cloud project configuration
GCP_PROJECT_ID=
GCP_LOCATION=

# dbt BigQuery datasets
DBT_DEV_DATASET=
DBT_ANALYTICS_DATASET=
DBT_BI_DATASET=

# dbt runtime configuration
DBT_PROFILES_DIR=
DBT_TARGET=dev